<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Book</title>
</head>
<body>

<h1>Add a new book</h1>

<form th:action="@{/addbook}" th:object="${book}" method="post">
    <p>Author: <input type="text" th:field="*{author}" /></p>
    <p>Title: <input type="text" th:field="*{title}" /></p>
    <p>ISBN: <input type="text" th:field="*{isbn}" /></p>
    <p>Year: <input type="text" th:field="*{publicationYear}" /></p>
    <p>Price: <input type="text" th:field="*{price}" /></p>
    <p>Category:
        <select th:field="*{category}">
            <option value="">Select a category</option>
            <option th:each="category : ${categories}" 
                    th:value="${category.categoryId}" 
                    th:text="${category.name}">
            </option>
        </select>
    </p>
    <p><input type="submit" value="Submit" class="btn btn-primary" />
    </p>
</form>

<a href="/booklist">Back to book list</a>

</body>
</html>